@model IEnumerable<Linkanized.Models.ResourceModel>

@{ ViewData["Title"] = "List"; }

@if (Model.Select(r => r.MainCategory).Distinct().Count() > 1)
{
<h1>All Links</h1> }
else
{
<h1>@Model.FirstOrDefault()?.MainCategory.Name</h1>}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MainCategory.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MainCategory.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubCategory.Name)
    </td>
    <td>
        <a href=@item.Url>@item.Name</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>